.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-bottom: 1px solid darkgray;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  height: 60px;
}

.navbar-right {
  display: flex;
  align-items: center;
}
